.btn {
  transition: all 0.25s;
  box-shadow: none;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  color: #000000;
  padding: 0.3rem 1rem;
  height: 2rem;
  border-radius: 8px;
  cursor: pointer;
}

.btn.primary {
  background-color: var(--primary-color);
  color: white;
}

.btn.secondary {
  background-color: var(--secondary-color);
  color: black;
}

.btn.menu {
  border: none;
  background-color: #fff;
  padding: 0.3rem 0.8rem;
  width: 75px;
}

.btn.primary:hover {
  border-color: #cc85f2;
  background-color: #cc85f2;
  color: #f9f9f9;
}

.btn.secondary:hover {
  text-decoration: underline;
}

.btn:focus,
.btn:focus-visible {
  outline: 4px auto #0095c3 none;
}

@media (prefers-color-scheme: light) {
  button {
    background-color: rgb(78, 173, 216);
  }
}
